@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box; /* box effects dont overflow their defined area with margins, borders etc*/
}

body {
	display: grid;
	background-color: #111111; /*fallback for browsers that do not support gradients*/
	background-image: linear-gradient(#202020, #111111);
	color: white;
	margin: 0px;
}

footer {
	display: grid;
	width: 100%;
	grid-template-columns: 1em 1fr 25px 25px 25px 1fr;
	padding-top: 3em;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,1));
	bottom: 0px;
	position: fixed;
}

footer p {
	grid-row: 2;
	grid-column: 1 / span 6;
	text-align: center;
	font-size: 14px;
	color: #aaaaaa;
}

/*Fonts and text*/
h1, h1 a {
	color: white;
	font-size: 25px;
	font-family: "Reem Kufi", "Rubik", "Noto Sans", "century gothic", "calibri", "sans-serif";
	margin: 0px;
}

h2, h2 a {
	color: white;
	font-size: 30px;
	font-family: "Reem Kufi", "Rubik", "Noto Sans", "century gothic", "calibri", "sans-serif";
	margin: 0px;
}

h3, h3 a {
	color: white;
	font-size: 18px;
	font-family: "Reem Kufi", "Rubik", "Noto Sans", "century gothic", "calibri", "sans-serif";
	margin: 0px;
}

p, p a {
	font-family: "Calibri", Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.logo {
	scale: 1;
}

.mgrid { /*main grid*/
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 84px 1fr; /*still works, error does not show in VSC*/
	grid-template-rows: 100px;
	align-content: center;
	margin: 0px;
	padding: 0px;
	position: fixed;
}

.mge { /*main grid element*/
	/*border: 1px solid white;*/ /*temporary to see boxes*/
}

.bar { /*top bar navigation background*/
	height: 90px;
	width: 100%;
	background-color: #262626; /*legacy support*/
	box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
	position: fixed;
	top: 0px;
}

/*top bar triangular outcrop background - this was a pain to align*/
.tri { 
	height: 100px;
	width: 100px;
	background-color: #262626; /*legacy support*/
	box-shadow: 5px 5px 4px rgba(0,0,0,0.5);
	transform: rotate(45deg);
	margin-top: 37px;
}

.navmenu {
	position: fixed;
	display: grid;
	grid-template-columns: minmax(150px,250px) 2em minmax(150px,250px) 2em 80px 2em minmax(150px,250px) 1em minmax(150px,250px);
	grid-template-rows: 40px 40px 50px;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-top: 5px;
	justify-content: center;
	text-align: center;
}
/*grid only for the lines between nav-decoration dots*/
.line-grid{
	display: grid;
	position: fixed;
	width: 100%;
	grid-template-columns:  0.8em 1fr minmax(2em,6em) 25px minmax(140px,260px) 25px minmax(90px, 130px) 100px minmax(90px, 130px) 25px minmax(140px,260px) 25px minmax(2em,6em) 1fr; /*0.8em is to fix alignment.*/
	grid-template-rows: 90px;
	padding: 0px;
	justify-content: center;
	margin-top: 45px;
}
/*draw ing of decorative elements*/
.line-full {
	background-color: white;
	width: minmax(80,260);
	height: 3px;
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 100px;
}
.line-fade-r {
	background-image: linear-gradient(to right, rgba(255,255,255,1),rgba(255,255,255,0));
	width: minmax(80,260);
	height: 3px;
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 100px;
}
.line-fade-l {
	background-image: linear-gradient(to left, rgba(255,255,255,1),rgba(255,255,255,0));
	width: minmax(80,260);
	height: 3px;
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 100px;
}

.diamond-empty {
	display: inline;
	height: 18px;
	width: 18px;
	border: 3px solid white;
	border-radius: 4px;
	rotate: 45deg;
	justify-self: center;
}

.diamond-full {
	display: inline;
	height: 18px;
	width: 18px;
	background-color: white;
	border: 3px solid white;
	border-radius: 4px;
	rotate: 45deg;
	justify-self: center;
}

/*adjust diamond shapes when classified as small*/
.diamond-full[data-type="small"],
.diamond-empty[data-type="small"]{
	height: 14px;
	width: 14px;
	border-radius: 3px;
}

/*make diamonds glow when hovered or active*/
.diamond-empty:hover {
	box-shadow: 0px 0px 4px white;
}

.diamond-full[data-type="active"],
.diamond-empty[data-type="active"]{
	box-shadow: 0px 0px 4px white;
}


/*mobile-only classes*/
.logo-mobile {
	display:none;
}

.navbar-mobile {
	display:none;
}
.borgar {
	display: none;
	margin-top: 1.4em;
	margin-right: 0.5em;
	height: 2.75em;
}

.title-mobile {
	font-size: 34px;
	margin-top: 0.6em;
	margin-left: 1em;
}

/*main grid element 2*/
.mge2 { 
	/*border: 1px solid white; /*temporary to see boxes*/
}

.mge3 { 
	/*border: 1px solid white; /*temporary to see boxes*/
	/*margin-top: 45px;*/
}
/*grid template areas*/
.content-grid {
	display: grid;
	justify-self: center;
	grid-template-columns: 3em minmax(130px, 250px) minmax(130px, 250px) minmax(130px, 250px) minmax(130px, 250px) minmax(130px, 250px) 3em;
	grid-template-rows: 65px 1fr 1fr 1fr 1fr 1fr 50px 50px; /*still works, error does not show in VSC*/
	margin-top: 95px;
}

.title {
	grid-column: 2 / span 5;
	grid-row: 1;
	margin-top: 5px;
	margin-right: 50px;
	margin-left: 50px;
	line-height: 1.2;}

.content {
	grid-column: 2 / span 5;
	grid-row: 2 / span 5;}

footer {
	grid-column: 1 / span 7;
	grid-row: 7 / span 2;
}

/*responsive elements for under 800px*/
@media (max-width: 800px) {
	h1, h1 a {font-size: 20px}
	
	.line-grid,
	.navmenu{
		display: none;
	}
	
	.mgrid {
		grid-template-columns: 1.5em 0fr 1fr;
	}

	.content-grid {
		grid-template-columns: 2em 1fr 1fr 2em;
	}
	
	.title {
		grid-column: 2 / span 2;
		grid-row: 1;
		margin-top: 5px;
		margin-right: 3em;
		margin-left: 4em;
		line-height: 1.2;}
	
	.content {
		grid-column: 2 / span 2;
		grid-row: 2 / span 5;}


	.navbar-mobile {
		display: grid;
		position: fixed;
		grid-template-columns: 80px 1fr 80px;
		grid-template-rows: 80px;
		width: 100%;
	}
	
	.logo-mobile {
		display: block;
		margin-top: 0.5em;
		margin-left: 0.4em;
		width: 70px;
	}
	.borgar {
		display: block;
	}
	
	.tri{
		order: 0;
		width: 80px;
		height: 80px;
		position: fixed;
		margin-top: 47px
	}

	footer {
		display: none;
	}
}