@charset "utf-8";
/* CSS Document */

body {
	background-color: #111111; /*fallback for browsers that do not support gradients*/
	color: white;
	margin: 0px;
}

/*Fonts and text*/
h1, h1 a {
	color: white;
	font-size: 28px;
	font-family: "reem kufi", "century gothic", "sans serif";
}

/*Classes for displaying grid*/

.mgrid { /*main grid*/
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 100px 1fr;
	grid-template-rows: 100px;
	align-content: center;
	margin: 0px;
	padding: 0px;
	position: fixed;
}

.mge { /*main grid element*/
	/*border: 1px solid white;*/ /*temporary to see boxes*/
}

.bar { /*top bar navigation background*/
	height: 90px;
	width: 100%;
	background-color: #262626; /*legacy support*/
	box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
	position: fixed;
	top: 0px;
}

.tri { /*top bar triangular outcrop background*/
	height: 100px;
	width: 100px;
	background-color: #262626; /*legacy support*/
	box-shadow: 5px 5px 4px rgba(0,0,0,0.5);
	transform: rotate(45deg);
	margin-top: 22px;
}

.navmenu {
	position: fixed;
}

/*responsive elements*/