@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box; /* box effects dont overflow their defined area with margins, borders etc*/
	text-decoration: none; /*remove annoying underlines from links*/
}

body {
	background-color: #111111; /*fallback for browsers that do not support gradients*/
	background-image: linear-gradient(#222222, #020202);
	background-attachment: fixed;
	color: white;
	margin: 0px;
	overflow-x: hidden; /*prevents mobile navigation menu from creating a scrollbar sideways*/
}

a {
	text-decoration: none;
	color: white;
}

.bodycontainer {
	display: grid;
	color: white;
	height: 100px;
	align-content: flex-start;
	margin: 0px;
	z-index: 2;
}

main { /*center content, and make sure that max width is capped*/
	display: grid;
	grid-template-columns: 1fr minmax(100px,2000px) 1fr;
	z-index: -99999;
}

.contentgrid {
	display: grid;
	grid-template-columns: 100%;
	max-width: 2000px;
	margin: 0.5em 2em;
}

.contentimg { /*set images to a height where they wont disappear*/
	max-height: 55vh;
	min-height: 38vh;
	background-size:cover;
	background-position: center center;
}

.gradientbox { /*add a gradient to the foreground for the text*/
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
	width: 100%;
	padding: 1em;
	height: 35.1%;
	min-height: 5em;
}

.gradientspacer {
	height: 65%;
}

.contentimg{
	border-radius: 3px;
}

.contentgrid h2,
.contentgrid p {
	line-height: 0.8;
	align-self: center;
	padding-bottom: 0px;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
}

.contentgrid h2 {
	padding-top: minmax(0em, 1em);
}

@media (min-width:1100px) {
	.column-span-2-large {
		grid-column: span 2;
	}
	.contentgrid {
		grid-template-columns: minmax(125px,1000px) minmax(125px,1000px);
		gap: 1.5em;
		border-radius: 0.5em;
		margin-bottom: 25vh;
	}
}

/*portfolio-page-specific*/

.portfoliogrid {
	display: grid;
	grid-template-columns: 12.8em 1fr;

}
.category {
	background-color: grey;
	position: relative;
	height: 35vh;
	width: inherit;
	margin: 1em;
	border-radius: 15px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-size:cover;
	background-position: center center;
}

.category h2, p {
	margin-top: 5px;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.726);
}

.portfolionav {
	display: grid;
	grid-template-columns: 2em 10em;
	grid-template-rows: 1fr 3em 3em 3em 3em 3em 4fr;
	grid-row: span 5;
	column-gap: 0.8em;
	align-items: center;
	position: fixed;
	height: 75vh;
}

.categorygradient-l {
	background-image: linear-gradient(to left,  rgba(0,0,0,0),rgba(0,0,0,0.75), rgba(0,0,0,1));
}

.categorygradient-r {
	background-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0.75), rgba(0,0,0,1));
}

@media (max-width: 800px){
	.portfolionav {
		display: none;
	}
	.portfoliogrid {
		grid-template-columns: 0 1fr;
	}
	.category {
		gap: 0;
		margin: 0;
		border-radius: 0;
		display: flex;
	}
	.categorygradient-l,
	.categorygradient-r {
		padding: 1em;
		background-image: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0.75), rgba(0,0,0,1));
		width: 100%;
		align-self:flex-end;

	}
	.category p {
	}
}

/*aboutme-specific*/

.timeline {
	display: grid;
	grid-template-columns: 35px 1fr;
	grid-template-rows: 70px repeat(8, 35px 100px);
	align-content: center;
	justify-content: center;
	align-items: center;
}

.timeline h3 {
	margin-left: 1em;
}

.timeline p {
	align-self:flex-start;
}

.aboutme {
	padding: 1em;
}

.aboutme > * {
	padding: 1em;
}

.me {
	background-image: url(img/Self.jpg);
	height: 50vh;
	background-size:cover;
	background-repeat: no-repeat;
	border-radius: 1em;
	background-position:center 35%;
	max-width: 800px;
}



/*main*/

.title{
	display: grid;
	grid-template-columns: 1fr minmax(300px, 1600px) 1fr;
	background: none;
	margin-left: 3em;
	line-height: 1.5;
	padding-block: 10px;
}

footer {
	display: grid;
	width: 100vw;
	grid-template-columns: 0 1fr 1fr 25px 25px 25px 1fr 1fr;
	padding-top: 3em;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,1));
	bottom: 0px;
	position: fixed;
}

footer p {
	grid-row: 2;
	grid-column: 3 / span 5;
	text-align: center;
	font-size: 14px;
	color: #aaaaaa;
}

/*Fonts and text*/
h1, h1 a {
	color: white;
	font-size: clamp(16px,16px + 1vw,28px);
	font-family: "Reem Kufi", "Rubik", "Noto Sans", "century gothic", "calibri", "sans-serif";
	margin: 0px;
}

h2, h2 a {
	color: white;
	font-size: 30px;
	font-family: "Reem Kufi", "Rubik", "Noto Sans", "century gothic", "calibri", "sans-serif";
	margin: 0px;
}

h3, h3 a {
	color: white;
	font-size: 18px;
	font-family: "Reem Kufi", "Rubik", "Noto Sans", "century gothic", "calibri", "sans-serif";
	margin: 0px;
}

p, p a {
	font-family: "Calibri", Arial, Helvetica, sans-serif;
	font-size: 16px;
}

a:hover {
	text-shadow: 0px 0px 3px white;
	text-decoration: none;
}

.logo {
	scale: 1;
}

.trigrid { /*triangle alignment grid*/
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 100px 1fr; /*still works, error does not show in VSC*/
	grid-template-rows: 100px;
	align-content: center;
	margin: 0px;
	padding: 0px;
	position: fixed;
	z-index: 2;
}

.bar { /*top bar navigation background*/
	height: 90px;
	width: 100%;
	background-color: #262626; /*legacy support*/
	box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
	position: fixed;
	top: 0px;
	z-index: 2;
}

/*top bar triangular outcrop background - this was a pain to align*/
.tri { 
	height: 100px;
	width: 100px;
	background-color: #262626; /*legacy support*/
	box-shadow: 5px 5px 4px rgba(0,0,0,0.5);
	transform: rotate(45deg);
	margin-top: 37px;
}

.navmenu {
	position: fixed;
	display: grid;
	grid-template-columns: minmax(150px,250px) 2em minmax(150px,250px) 2em 80px 2em minmax(150px,250px) 2em minmax(150px,250px);
	grid-template-rows: 40px 40px 50px;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-top: 5px;
	justify-content: center;
	text-align: center;
	z-index: 3;
}

/*grid only for the lines between nav-decoration dots*/
.line-grid{
	display: grid;
	position: fixed;
	width: 100%;
	grid-template-columns:  1fr minmax(2em,15em) 25px minmax(140px,260px) 25px minmax(90px, 130px) 100px minmax(90px, 130px) 25px minmax(140px,260px) 25px minmax(2em,15em) 1fr; /*0.8em is to fix alignment.*/
	padding: 0px;
	justify-content: center;
	margin-top: 45px;
	z-index: 3;
}
/*drawing of decorative elements*/
.line-full {
	background-color: white;
	width: minmax(80,260);
	height: 3px;
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 100px;
}

.line-vert {
	background-color: white;
	width: 3px;
	height: 100%;
	border-radius: 100px;
	justify-self: center;
}

.line-fade-r {
	background-image: linear-gradient(to right, rgba(255,255,255,1),rgba(255,255,255,0));
	height: 3px;
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 100px;
}

.line-fade-l {
	background-image: linear-gradient(to left, rgba(255,255,255,1),rgba(255,255,255,0));
	height: 3px;
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 100px;
}

.line-fade-t {
	background-image: linear-gradient(to top, rgba(255,255,255,1),rgba(255,255,255,0));
	width: 3px;
	height: 100%;
	border-radius: 100px;
	justify-self: center;

}

.line-fade-b {
	background-image: linear-gradient(to bottom, rgba(255,255,255,1),rgba(255,255,255,0));
	width: 3px;
	height: 100%;
	margin: 0px;
	border-radius: 100px;
	justify-self: center;
}

.diamond {
	display: block;
	height: 18px;
	width: 18px;
	border: 3px solid white;
	border-radius: 4px;
	rotate: 45deg;
	justify-self: center;
	padding: 0;
	margin: 0;
}

.diamond-container{  /*this is jank, but at least it works now*/
	justify-content: center;
	justify-self: center;
}

li {
	display: grid;
	grid-template-columns: 40px 1fr;
	align-content: center;
	align-items: center;
}


/*adjust diamond shapes when classified as small*/
.diamond[data-small="true"]{
	height: 14px;
	width: 14px;
	border-radius: 3px;
}

/*fill diamonds when tagged with fill*/
.diamond[data-fill="true"]{
	background-color: white;
}


/*make diamonds glow when hovered or active*/
.diamond:hover {
	box-shadow: 0px 0px 4px white;
}

.diamond[data-active="true"]{
	box-shadow: 0px 0px 4px white;
}


/*mobile-only classes*/
.logo-mobile {
	display:none;
}

.navbar-mobile {
	display:none;
	z-index: 2;
}

.borgar {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	background: url(img/borgar.svg);
	background-repeat: no-repeat;
	border: 0;
	z-index: 9999;
	margin: 1.6em 1em 0 0;
	height: 4em;
	aspect-ratio: 1;
}

.navbar-overlay-mobile{
	padding: 1em;
	justify-content: center;
	display: grid;
	position: absolute;
	z-index: 9001;
	right: 0;
	top: 0px;
	width: 80vw;
	min-width: 280px ;
	max-width: 400px;
	height: 100vh;
	transform: translateX(126%);
	transition: transform 250ms ease-out;
	background: rgba(0,0,0,0.75);
	border: 1px solid grey;

}

.navbar-overlay-mobile ul {
	list-style: none;
	justify-content: center;
	line-height: 2;
}


.overlay-decoration {
	margin: 1.5em 1em;
	display: grid;
	grid-template-columns: 1fr 25px 1fr;
}

.overlay-toggle{
	display: none;
}

.title-mobile {
	font-size: 23px;
	margin-top: 1em;
	margin-left: 0.5em;
}


/*responsive elements for under 800px*/
@media (max-width: 800px) {

	.title {
		margin-left: 85px;
		margin-right: 1em;
		justify-content: left;
		grid-template-columns: 1fr minmax(100px, 1600px) 1fr;
	}
	
	.line-grid,
	.navmenu{
		display: none;
	}
	
	.trigrid {
		grid-template-columns: 1.5em 0fr 1fr;
	}

	.navbar-mobile {
		display: grid;
		position: fixed;
		grid-template-columns: 80px 1fr;
		grid-template-rows: 80px;
		width: 100%;
	}

	.navbar-overlay-mobile {
		display: block;
	}

	.navbar-overlay-mobile[data-visible="true"] {
		transform: translateX(0%);
		transition: transform 250ms ease-out;
	}
	
	.logo-mobile {
		display: block;
		margin-top: 0.5em;
		margin-left: 0.4em;
		width: 70px;
	}
	.borgar {
		display: block;
	}
	
	.tri{
		order: 0;
		width: 80px;
		height: 80px;
		position: fixed;
		margin-top: 47px
	}

	footer {
		display: none;
	}

	.contentgrid {
		margin: 0.5em 0em;
	
	}
}