@charset "utf-8";
/* CSS Document */
/*set the background to black as a fallback, and define a gradient id*/

.topgrid {
	display: grid;
	grid-template-columns: 1fr 10% 5% 10% 5% 10% 5% 10% 5% 10% 5% 1fr;
	grid-template-rows: 50px 50px;
	text-align: center;
	position: fixed;
}

.grad1 { /*main gradient for background*/
	background-color: #262626; /*legacy support*/
	background-image: linear-gradient(rgba(70,70,70,1),rgba(0,0,0,1));
}

.grad2 { /*secondary gradient for top bar elements etc*/
	background-color: #262626; /*legacy support*/
	background-image: linear-gradient(rgba(70,70,70,1),rgba(40,40,40,1));
	justify-content: center;
	text-align: center;
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
	margin: 0px;
}

.grad3 { /*transparent black gradient for overlays etc*/
	background-color: black; /*legacy support*/
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
}

body {
	background-color: #262626; /*legacy support + fill*/
background-image: linear-gradient(rgba(70,70,70,1),rgba(0,0,0,1));
	margin: 0px;
}

.topbar-text {
	text-align: center;
	justify-content: center;
}

.topflex {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: nowrap;
}

.topdiv-flex {
	display: flex;
	width: 5%
}
.logo {
	width: 8%;
	
}

/*Define font sizes, colours, and types for headings and main text*/
h1, h1 a {
	color: white;
	font-family: "Reem Kufi", "Century Gothic", sans-serif;
	font-size: 28px;
	display: inline;

}

h2, h2 a {
	color: white;
	font-family: Reem Kufi, sans-serif;
	font-size: 20px;
}
h3, h3 a{
	color: white;
	font-family: Calibri, sans-serif;
	font-size: 18px;
}
p, p a {
	color: white;
	font-family: Calibri, sans-serif;
	font-size: 15px;
}

a { /*remove underline and colour from links*/
	text-decoration: none;
}

@media screen and (max-width: 800px){
	h1, h1 a {
		font-size: 20px;
	}
	h2, h2 a {
		font-size: 18px;
	}
	h3, h3 a {
		font-size: 15px;
	}
	p, p a {
		font-size: 12px;
	}
}